@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Twinkle+Star&display=swap');

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/MaterialSymbolsOutlined.woff2') format('woff2');
}

* {
    font-family: var(--font);
}

p{
    margin: 0;
}

.caption{
    font-size: 0.4em;
}

.secondary-text {
    opacity: 65%;
}

:root {
    --soft-blush-pink: #F4C7C3;
    --light-bubblegum-pink: #F7A8D0;
    --lavender-pink: #D6A4F0;
    --lavender-pink-darker: #5A4370;
    --peachy-pink: #FFD5C4;
    --creamy-off-white: #FFF1E6;
    --muted-lilac-pink: #D998D8;
    --primary-black: #121212;
    --secondary-black: #282828;
    --border-black: #242424;
    --widget-background-top: #3A4257;
    --widget-background-bottom: #2C3446;
    --widget-card-background: #0F1628;
    --widget-accent: #E3B8D6;
    --widget-text-primary: #FFFFFF;
    --widget-text-secondary: #A8B0C0;
    --widget-text-negative: #FF6B6B;
}


.dark-theme {
    --primary-font-color: var(--widget-accent);
    --primary-background: var(--primary-black);
    --primary-button-background: var(--lavender-pink-darker);
    --primary-button-foreground: var(--widget-accent);
    --primary-button-border: var(--border-black);
    --primary-card-background: var(--primary-black);
    --primary-card-foreground: var(--creamy-off-white);
    --primary-expense-background: var(--secondary-black);
    --primary-expense-foreground: var(--creamy-off-white);
    --primary-popup-background: var(--primary-black);
    --primary-popup-foreground: var(--creamy-off-white);
    --primary-input-color: var(--creamy-off-white);
    --primary-input-background: var(--secondary-black);
    --primary-input-focus: var(--widget-accent);
    --primary-nav-bar-background: var(--primary-black);
    --primary-nav-bar-foreground: var(--widget-accent);
    --primary-border: var(--border-black);
}


.light-theme {
    --primary-font-color: var(--primary-black);
    --primary-background: var(--creamy-off-white);
    --primary-button-background: var(--primary-black);
    --primary-button-foreground: var(--widget-accent);
    --primary-button-border: var(--primary-black);
    --primary-card-background: var(--creamy-off-white);
    --primary-card-foreground: var(--primary-black);
    --primary-expense-background: var(--widget-accent);
    --primary-expense-foreground: var(--primary-black);
    --primary-popup-background: var(--creamy-off-white);
    --primary-popup-foreground: var(--primary-black);
    --primary-input-color: var(--primary-black);
    --primary-input-background: var(--creamy-off-white);
    --primary-input-focus: var(--lavender-pink-darker);
    --primary-nav-bar-background: var(--creamy-off-white);
    --primary-nav-bar-foreground: var(--primary-black);
    --primary-border: #d5d5d5;
}


.default-font {
    --font: 'Poppins', sans-serif;
    --base-font-size: 0.75em;
}

.secondary-font {
    --font: "Borel", cursive;
    --base-font-size: 0.75em;
}

.tertiary-font {
    --font: "Kanit", sans-serif;
    --base-font-size: 0.75em;
}

.quaternary-font {
    --font: "Montserrat", sans-serif;
    --base-font-size: 0.75em;
}

body {
    background: var(--primary-background);
    color: var(--primary-font-color);
    font-size: var(--base-font-size);
    width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
    outline: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size-adjust: 0.4;
}

.large-text {
    font-size-adjust: 1.25;
    line-height: 60px;
    width: 100%;
    text-wrap: wrap;
    margin-bottom: 10px;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1vh;
    padding: 5px;
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    margin: 0px;
    margin-top: 35px;
    margin-bottom: 35px;
}


a {
    color: var(--primary-button-foreground) !important;
    text-decoration: none;
}

a:hover {
    color: var(--primary-button-background);
}

input {
    border: 1px solid var(--primary-border);
    border-radius: 25px;
    min-height: 30px;
    padding: 10px;
    min-width: 300px;
    width: 100%;
    background: var(--primary-input-background);
    outline: none;
    box-shadow: none;
    caret-color: var(--primary-input-color);
    color: var(--primary-input-color);
    font-weight: 500;
}

input:focus {
    border: 1px solid var(--primary-input-focus);
    outline: none;
    box-shadow: none;
    color: var(--primary-input-focus);
}

input[type="file"] {
    color: #888;
}

input[type="file"]::file-selector-button {
    all: unset;
    border: 1px solid var(--primary-button-border);
    background: var(--primary-button-background);
    padding: 10px;
    color: var(--primary-button-foreground);
    font-weight: bolder;
    border-radius: 100px;
    min-width: 75px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

input[type="file"]::file-selector-button:active {
    transform: scale(0.9);
    opacity: 0.75;
}

textarea {
    border: 1px solid var(--primary-border);
    border-radius: 15px;
    min-height: 100px;
    padding: 15px;
    min-width: 300px;
    width: 100%;
    background: var(--primary-input-background);
    outline: none;
    box-shadow: none;
    caret-color: var(--primary-input-color);
    color: var(--primary-input-color);
    font-weight: 500;
    resize: vertical;
    font-family: inherit;
}

textarea:focus {
    border: 1px solid var(--primary-input-focus);
    outline: none;
    box-shadow: none;
    color: var(--primary-input-focus);
}

button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-button-border);
    background: var(--primary-button-background);
    padding: 10px;
    color: var(--primary-button-foreground);
    font-weight: bolder;
    border-radius: 100px;
    min-width: 75px;
    margin: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

button:active {
    transform: scale(0.9);
    opacity: 0.75;
}

.floating-button {
    min-width: 35px;
    aspect-ratio: 1/1 !important;
    border-radius: 100%;
    position: fixed;
    right: 5px;
    bottom: 80px;
    z-index: 500;
    color: var(--creamy-off-white) !important;
    background: var(--border-black);
    border: 2px solid var(--primary-button-background);
    animation: hover-up ease-in-out 0.2s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@keyframes hover-up {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: 80px;
    }
}

.dark-theme .secondary-button {
    border: 1px solid var(--primary-button-background);
    background: transparent;
    color: var(--primary-button-foreground);
}

.light-theme .secondary-button {
    border: 1px solid var(--primary-button-background);
    background: transparent;
    color: var(--primary-button-background);
}


.info-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-expense-foreground);
    background: var(--primary-expense-background);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    flex: 1;
    gap: 15px;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    padding: 10px;
    background: var(--primary-expense-foreground);
    color: var(--primary-expense-background);
    margin: 5px;
}

.icon-button {
    height: 100%;
    aspect-ratio: 1/1;
    border: 2px solid var(--primary-button-border);
    background: var(--primary-button-background);
    padding: 10px;
    color: var(--primary-button-foreground);
    border-radius: 100px;
}

.error {
    background: crimson;
    color: var(--creamy-off-white) !important;
    backdrop-filter: none;
}

.error-message {
    width: 300px;
    max-height: fit-content;
    gap: 50px;
    margin: 2px;
}

.app-toast {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    z-index: 3000;
    position: fixed;
    top: 65px;
    backdrop-filter: blur(20px);
    color: lightgreen;
    border: 1px solid lightgreen;
    width: 300px;
    padding: 10px;
    padding-right: 20px;
    border-radius: 10px;
    animation: moveDown 0.1s ease-in, moveUp 0.5s ease-in 4.5s forwards;
    font-weight: bolder;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.error-app-toast {
    background: crimson;
    color: var(--creamy-off-white) !important;
    backdrop-filter: none;
    border: 1px solid var(--creamy-off-white);
}

.light-theme .app-toast {
    color: darkgreen;
    border: 1px solid darkgreen;
}


@keyframes moveDown{
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveUp {
    from {
        opacity: 1;
        transform: translateY(0px);
    }

    to {
        opacity: 0;
        transform: translateY(-30px);
    }
}