@import '_content/Blazor.Bootstrap/Blazor.Bootstrap.olwso25aue.bundle.scp.css';

/* _content/MyFirstAppComponentLibrary/UI/Components/Calendar/SaveEventToCalendarEventPopupComponent.razor.rz.scp.css */
.google-calendar-button[b-zcunem8xgy] {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/Commonly Used/CardWrapperComponent.razor.rz.scp.css */
.card[b-0ger2c1501] {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    padding: 0;
    background: var(--primary-card-background);
    color: var(--primary-card-foreground);
    overflow: hidden;
    border: 1px solid var(--primary-border);
}

.card-header[b-0ger2c1501] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--primary-card-background);
    color: var(--primary-card-foreground);
    border-bottom: none;
}

.card-body[b-0ger2c1501] {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.link[b-0ger2c1501] {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border-top: 1px solid var(--primary-border);
    color: var(--primary-font-color);
    padding: 7.5px;
}

.shimmer[b-0ger2c1501] {
    position: relative;
    overflow: hidden;
    background: var(--secondary-black);
    border-radius: 0px;
    min-height: 5vh;
}

.shimmer[b-0ger2c1501]::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient( 45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100% );
    animation: shimmer-b-0ger2c1501 1.5s infinite;
}

@keyframes shimmer-b-0ger2c1501 {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(150%);
    }
}
/* _content/MyFirstAppComponentLibrary/UI/Components/Commonly Used/ImagePopupComponent.razor.rz.scp.css */
.image-container[b-w5s0bmlqnv]{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
}
img[b-w5s0bmlqnv] {
   width: 100vw;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/Commonly Used/MaterialDesignIconComponent.razor.rz.scp.css */
.material-symbols-outlined[b-mvf7z1p1va] {
    font-family: 'Material Symbols Outlined' !important;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 50, 'opsz' 48;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.icon .material-symbols-outlined[b-mvf7z1p1va] {
    font-family: 'Material Symbols Outlined' !important;
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 50, 'opsz' 48;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/Commonly Used/PopupWrapperComponent.razor.rz.scp.css */
.popup-container[b-dz8qorjlsg] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw !important;
    height: 100vh !important;
    backdrop-filter: blur(5px);
    z-index: 2000;
}

.popup[b-dz8qorjlsg] {
    background: var(--primary-popup-background);
    width: 100vw;
    min-height: 100vh;
    border: 1px solid var(--primary-border);
    animation: popupSlideIn-b-dz8qorjlsg 0.35s ease;
}

@keyframes popupSlideIn-b-dz8qorjlsg {
    from {
        transform: translateY(50vh);
    }

    to {
        transform: translateY(0);
    }
}

.popup-header[b-dz8qorjlsg] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    color: var(--primary-popup-foreground);
}

.popup-body[b-dz8qorjlsg] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 95vh;
    padding: 10px;
    overflow-y: scroll;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/Commonly Used/ProgressBarComponent.razor.rz.scp.css */
.progress-container[b-133hntvjuu] {
    width: 100%;
    height: 6px;
    background-color: var(--primary-background);
    border-radius: 3px;
    overflow: hidden;
    margin-top: 5px;
}

.progress-bar[b-133hntvjuu] {
    height: 100%;
    background-color: lightgreen;
    border-radius: 3px;
    transition: width 0.3s ease;
}

.danger[b-133hntvjuu] {
    background-color: crimson;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/Commonly Used/SpinnerComponent.razor.rz.scp.css */
.spinner-container[b-o66mzyl6r0] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner[b-o66mzyl6r0] {
    border: 3px solid var(--primary-background);
    border-top: 3px solid var(--primary-button-foreground);
    border-radius: 100%;
    animation: spin-b-o66mzyl6r0 0.8s linear infinite;
}

@keyframes spin-b-o66mzyl6r0 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
/* _content/MyFirstAppComponentLibrary/UI/Components/Commonly Used/SvgIconComponent.razor.rz.scp.css */
svg[b-tok9p75t7i] {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/Commonly Used/ToastComponent.razor.rz.scp.css */
.toast-queue-count[b-k104fnzpt2] {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: var(--primary-expense-background);
    color: var(--primary-font-color);
    transition: opacity ease-in-out 0.5s;
    border-radius: 100%;
    width: 40px;
    aspect-ratio: 1/1;
    border: 1px solid var(--primary-button-border);
}

.message-box[b-k104fnzpt2] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/Expenses/EditExpensePopupComponent.razor.rz.scp.css */
.google-calendar-button[b-q384oxpmli] {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/Expenses/ExpenseComponent.razor.rz.scp.css */
.main-body[b-ohjxmp6wew] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px;
}

.paid-expense[b-ohjxmp6wew] {
    display: none;
}

.container[b-ohjxmp6wew] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    padding: 0px;
}

.paid-container[b-ohjxmp6wew]{
    height: 100%;
}

/* _content/MyFirstAppComponentLibrary/UI/Components/Expenses/ExpensesListComponent.razor.rz.scp.css */
.expenses-container[b-j1rnzfhx59]{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
}

.filter-expenses-panel[b-j1rnzfhx59]{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.filters-panel[b-j1rnzfhx59]{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.filters-panel button[b-j1rnzfhx59], .filter-button[b-j1rnzfhx59] {
    border-radius: 2px;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/HeaderBarComponent.razor.rz.scp.css */
.header-bar[b-719fqv182b] {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    background: var(--primary-nav-bar-background);
    height: 60px;
    overflow: hidden;
    border-bottom: 1px solid var(--primary-border);
    z-index: 1000;
    padding: 5px;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.2);
}

.user-container[b-719fqv182b] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: var(--primary-expense-background);
    gap: 5px;
    padding: 0;
    padding-right: 5px;
}

img[b-719fqv182b]{
    aspect-ratio: 1/1;
    width: 40px;
    overflow: hidden;
    border-radius: 100%;
}

.image-placeholder[b-719fqv182b] {
    aspect-ratio: 1/1;
    width: 40px;
    background: var(--primary-background);
    color: var(--primary-button-foreground);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/MonthlyBudgetFixture/BudgetFixtureComponent.razor.rz.scp.css */
.card-body[b-yx3hia3rd7]{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/MonthlyBudgetFixture/BudgetFixtureInsightsComponent.razor.rz.scp.css */
.card-body[b-ie6da0lac3] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/MonthlyBudgetFixture/EditBudgetFixtureComponent.razor.rz.scp.css */
.image-placeholder[b-q6suo9ajbb] {
    aspect-ratio: 1/1;
    width: 125px;
    background: var(--primary-expense-background);
    color: var(--primary-button-foreground);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img[b-q6suo9ajbb] {
    aspect-ratio: 1/1;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/NavigationBarComponent.razor.rz.scp.css */
.navigation-bar[b-mhmy4p8bay] {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: var(--primary-nav-bar-background);
    height: 60px;
    overflow: hidden;
    border-top: 1px solid var(--primary-border);
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.navigation-container[b-mhmy4p8bay] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    transition: ease-in-out 0.2s;
    color: var(--primary-nav-bar-foreground);
}

.active[b-mhmy4p8bay] {
    color: var(--creamy-off-white) !important;
    background: var(--border-black);
    outline: 2px solid var(--primary-button-background);
}

.navigation-container:hover[b-mhmy4p8bay]{
    opacity: 75%;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/Savings/SavingsComponent.razor.rz.scp.css */
.savings-container[b-awmnzlgcfo] {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/User/EditUserProfileComponent.razor.rz.scp.css */
.image-placeholder[b-te5u6a20mt] {
    aspect-ratio: 1/1;
    width: 125px;
    height: 125px;
    background: var(--primary-expense-background);
    color: var(--primary-button-foreground);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img[b-te5u6a20mt] {
    aspect-ratio: 1/1;
    width: 125px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/User/HappyBirthdayComponent.razor.rz.scp.css */
.birthday-confetti[b-1ld5j9hr5v] {
    background-image: url("/confetti.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/User/UserProfileComponent.razor.rz.scp.css */
.image-placeholder[b-6crowhzq3g] {
    aspect-ratio: 1/1;
    width: 125px;
    background: var(--primary-expense-background);
    color: var(--primary-button-foreground);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    overflow: hidden;
}

img[b-6crowhzq3g] {
    aspect-ratio: 1/1;
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-user-card[b-6crowhzq3g] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/User/UserSettingsComponent.razor.rz.scp.css */
.card-body[b-p3y6gfeqxy] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* _content/MyFirstAppComponentLibrary/UI/Components/User/WelcomeUserComponent.razor.rz.scp.css */
.image[b-2ta9fkxvdj]{
    width: 100px;
    height: 100px;
    border-radius: 100%
}
/* _content/MyFirstAppComponentLibrary/UI/Pages/DeveloperPage.razor.rz.scp.css */
.method-call-summary[b-cakgw1fzmv] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
/* _content/MyFirstAppComponentLibrary/UI/Pages/ExpensesPage.razor.rz.scp.css */
.card-body[b-wo45ft4mnz] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 600px) {
    .expenses-container[b-wo45ft4mnz] {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1080px) {
    .expenses-container[b-wo45ft4mnz] {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* _content/MyFirstAppComponentLibrary/UI/Pages/SavingsPage.razor.rz.scp.css */
.card-body[b-struo95ijc] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 600px) {
    .savings-container[b-struo95ijc] {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1080px) {
    .savings-container[b-struo95ijc] {
        grid-template-columns: repeat(3, 1fr);
    }
}
