.expenses-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
}

.filter-expenses-panel{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.filters-panel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.filters-panel button, .filter-button {
    border-radius: 2px;
}