.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: var(--primary-nav-bar-background);
    height: 60px;
    overflow: hidden;
    border-top: 1px solid var(--primary-border);
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.navigation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    transition: ease-in-out 0.2s;
    color: var(--primary-nav-bar-foreground);
}

.active {
    color: var(--creamy-off-white) !important;
    background: var(--border-black);
    outline: 2px solid var(--primary-button-background);
}

.navigation-container:hover{
    opacity: 75%;
}