.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    padding: 0;
    background: var(--primary-card-background);
    color: var(--primary-card-foreground);
    overflow: hidden;
    border: 1px solid var(--border-black);
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--primary-card-background);
    color: var(--primary-card-foreground);
    border-bottom: none;
}

.icon-button {
    height: 100%;
    aspect-ratio: 1/1;
    border: 2px solid var(--primary-button-border);
    background: var(--primary-button-background);
    padding: 10px;
    color: var(--primary-button-foreground);
    border-radius: 100px;
}

.card-body {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border-top: 1px solid var(--border-black);
    color: var(--primary-font-color);
    padding: 7.5px;
}

.shimmer {
    position: relative;
    overflow: hidden;
    background: var(--secondary-black);
    border-radius: 0px;
    min-height: 5vh;
}

.shimmer::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient( 45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100% );
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(150%);
    }
}