.material-symbols-outlined {
    font-family: 'Material Symbols Outlined' !important;
    font-variation-settings: 'FILL' 1, 'wght' 800, 'GRAD' 50, 'opsz' 48;
}

.icon .material-symbols-outlined {
    font-family: 'Material Symbols Outlined' !important;
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 50, 'opsz' 48;
}