.popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw !important;
    height: 100vh !important;
    backdrop-filter: blur(5px);
    z-index: 2000;
}

.popup {
    background: var(--primary-popup-background);
    width: 100vw;
    min-height: 100vh;
    border: 1px solid var(--primary-border);
    animation: popupSlideIn 0.35s ease;
}

@keyframes popupSlideIn {
    from {
        transform: translateY(50vh);
    }

    to {
        transform: translateY(0);
    }
}

.popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
    padding: 10px;
    color: var(--primary-popup-foreground);
}

.popup-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 95vh;
    padding: 10px;
    overflow-y: scroll;
}
