.no-expenses-container{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    text-align: left;
}

.no-savings-container {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    text-align: left;
}

.expenses-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
}

@media (min-width: 600px) {
    .expenses-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1080px) {
    .expenses-container {
        grid-template-columns: repeat(3, 1fr);
    }
}